[submodule "GSAP/bb_segsort"]
	path = GSAP/bb_segsort
	url = https://github.com/vtsynergy/bb_segsort.git
[submodule "GSAP/moderngpu"]
	path = GSAP/moderngpu
	url = https://github.com/moderngpu/moderngpu.git
